.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

.page-colour {
    background-color: #F1F1F3
}

/* colours */
.bgcolour-blue {
    background-color: #bbcbe7;

}

.bgcolour-green {
    background-color: #C6E4D6;
}

.bgcolour-yellow {
    background-color: #F7EBCF;
}

/* styles for buttons */
.btn-sign-in {
    padding: 15px 30px;
    color: #006A50;
    border-color: #006A50;
    border-radius: 8px;
    border: 2px solid;
    font-size: 16px;
    cursor: pointer;
    background-color: #F1F1F3
}

.btn-explore {
    padding: 17px 34px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}



.btn-learn-blue {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: rgb(31, 31, 196);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-learn-green {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-learn-yellow {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 20px;
    background-color: #FFC239;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}


/* textcolors */
.textash {
    color: #393A3A;
    opacity: 0.6;

}

















/* nav stlye */
nav ul .list-title {
    font-weight: bold;
    font-size: 32px;


}

.navigation nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav ul li {
    list-style: none;

}

.navigation {
    margin: 0 170px;
    margin-bottom: 60px;
    margin-left: 130px;
}


/* banner styeling */
.banner-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 0px auto;
    padding: 100px 60px 100px
}

.banner-title {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.banner-hero {
    margin: 0 170px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 80px;

}

.banner-sub {
    font-size: 24px;
    margin-bottom: 10px;
}

.banner-content {
    gap: 5px;
    max-width: 610px;
    width: 50%;
    align-items: center;



}

.main-hero {
    margin-top: 20px;


}

/* pillar seection styling */

.heading {
    font-weight: bold;
    font-size: 40px;
    margin-left: 170px;

}

.pillar-box {
    display: flex;
    gap: 24px;
    margin: 0 170px;
    justify-content: space-evenly;
}



.pillar-box .pillar-content {
    padding: 24px;
    border: 1px solid #393A3A;
    border-radius: 8px;
    background-color: white;
    border: none;
}

.boxtitle {
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;

}

.pdescript {
    color: #0E0E0E;
    font-size: 16px;
    opacity: 80%;
}

.pillars {
    margin-bottom: 60px;
}

/* styling for future section */
.fu-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.fu-description {
    font-weight: 200;
    font-size: 16px;
    color: #0E0E0E;
}

.starter {
    margin: 20px 170px;

}

.future-box {
    display: flex;
    justify-content: space-between;
    margin: 30px 170px;
    gap: 130px;




}

.futurebox-content {
    margin: 0 auto;
    width: 430px;
    border: 0.1px solid #393A3A;
    border-radius: 16px;
    padding: 24px;
    border: none;





}

.futurebox-description {
    font-size: 16px;
    color: #0E0E0E;


}

.futurebox-title {
    font-weight: bold;
    font-size: 20px;

}

/* advisor style */

.yunus-statement {
    font-weight: 200;
    font-size: 16px;
    color: #0E0E0E;

}

.name-yunus {
    font-weight: bold;
    font-size: 20px;
    color: #383636;
    margin-bottom: 0px;

}

.intro-yunus {
    font-weight: 200;
    font-size: 16px;
    color: #0E0E0E;
    margin-top: 0px;

}

.advisor-statement {


    background-color: white;
    border: 0.5px solid rgb(29, 28, 28);
    border-radius: 16px;
    border: none;
    margin-top: 30px;
    margin: 0 170px;
    margin-bottom: 80px;
    padding: 30px 20px
}

.quote-icon {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1% 5%
}

/* styling of opinion */
.opinion-title {
    margin-left: 170px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;

}

.thead-style {
    font-weight: 600;
    font-size: 20px;
}





.tablediv {
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 32px 32px;

    width: 1000px;

    justify-content: center;
    margin-left: 400px;








}

table {
    border: 0.5px solid rgb(124, 115, 115);
    border-collapse: collapse;

    margin-left: 0px;
    margin-right: 0px;

}

td {
    border: 1px solid black;

}

.column-question {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 200px 10px 5px;
    margin-top: 20px;

    margin-bottom: 20px;
}

thead th {
    padding: 20px;
}

thead {
    background-color: #C6E4D6;
}

#agree {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    background-color: #C6E4D6;
    margin-left: 25px;
    border-radius: 8px;
}




.select-items {
    padding: 24px;

}

/* styling-news */
.news-heading {
    margin: 80px 170px 20px;


}

.news-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;

}

.news-subtitle {

    font-weight: 200;
    font-size: 16px;
    color: #0E0E0E;

}

.newscard-container {
    display: flex;
    gap: 30px;
    background-color: white;
    border-radius: 16px;
    margin: 30px 170px;
    padding: 30px;
}

.newscard-title {
    font-weight: bold;
    font-size: 32px;

}

.news-description .date {
    font-weight: 200;
    font-size: 16px;
    color: #393A3A;
}


.donate-section {
    margin: 30px 300px;
    margin-top: 80px;
}

.donate-title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.donate-description {
    font-size: 16px;
    font-weight: 300px;
    color: #383636;

}

.btn-taka {
    padding: 40px;
    border-radius: 16px;
    background-color: white;
    border-radius: 16px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

.taka-box {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.taka-green {
    background-color: #C6E4D6;

}

#donate-amount {
    background-color: white;
    padding: 20px 560px;
    margin: 30px auto;



    margin-top: 30px;
    font-size: 16px;
    border: none;


}

.donate-input {
    margin-left: 70px;

}

.donate-btn {
    margin-top: 0px;
    margin-left: 650px;



}

.donate-section {
    margin: 30px 210px;
}

.newsletter {
    margin: 80px 170px;
    background-color: #C6E4D6;
    border-radius: 16px;
    border: none;
    padding: 100px 300px;

}

.newsletter-content {
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.newsletter-heading {
    font-weight: bold;
    font-size: 40px;
}

#input-email {
    padding: 18px 400px 18px 40px;
    border: none;
    border-radius: 8px;
}

.btn-subs {
    padding: 18px;
    background-color: #006A50;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.placeholder {
    font-size: 20px;
}

.input-email-sub {
    display: flex;
    border-radius: 8px;
    

}

.descstyle {
    font-size: 16px;
    font-weight: 300;
    color: #686969;
}
.subnews{
    width: 600px;
}
.Last{
    justify-items: center;
    background-color: white;
    padding-top: 80px;
    margin-top: 80px;
    margin-bottom: 0px;

}
}